<div class="row">
    <div class="col-md-6 col-lg-4 my-3 my-lg-0">
        <a (click)="goto('../tornoa')" >
            <card title="Create new tournament">
                <img class="tornoa_img" src="assets/add.svg" alt="">
            </card>
        </a>
    </div>
    <div class="col-md-6 col-lg-4 my-3 my-lg-0">
        <a (click)="goto('../tornoa/consult')" >
            <card title="Valorant">
                <img class="tornoa_img" src="assets/Valorant.jpg" alt="">
            </card>
        </a>
    </div>
    <div class="col-md-6 col-lg-4 my-3 my-lg-0">
        <a (click)="goto('../tornoa/consult')" >
            <card title="Pupg">
                <img class="tornoa_img" src="assets/pubg.jpg" alt="">

            </card>
        </a>
    </div>
</div>