<div class="card">
    <div class="card-header">
        title 
        <span class="card-menu iconbtn">
            <div class="actions">
                <ul>
                    <li>action</li>
                    <li>some action</li>
                    <li>last action</li>
                </ul>
            </div>
            <i class="material-icons-two-tone">more_vert</i>
        </span>
        
    </div>
    <div class="card-body">countent</div>
</div>
<div class="row ">
    <div class="col-xl-3 col-md-6 col-sm-12 mt-3">
        <div class="card">
            <div class="mini-card-body row">
                <div class="col-6">
                    <h4 class="mini-card-title pl-3 pt-3 m-0">Title</h4>
                    <strong class="mini-card-title pl-3">1337</strong>
                    <div class="mini-card-countent pl-3 py-2">description</div>
                </div>
                <div class="col-6">
                    <img class="pr-3 py-3 w-100 mini-card-img" src="assets/login/pairs.svg" >
                </div>
            </div>
        </div> 
    </div>
    <div class="col-xl-3 col-md-6 col-sm-12 mt-3">
        <div class="card">
            <div class="card-body">countent</div>
        </div> 
    </div>
    <div class="col-xl-3 col-md-6 col-sm-12 mt-3">
        <div class="card">
            <div class="card-body">countent</div>
        </div> 
    </div>
    <div class="col-xl-3 col-md-6 col-sm-12 mt-3">
        <div class="card">
            <div class="card-body">countent</div>
        </div> 
    </div>
</div>