::-webkit-scrollbar {
    background: #86859c;
    height: 16px;
    position: fixed;
    padding: 16px;
    margin: 16px;
}
  ::-webkit-scrollbar:disabled {
    background: transparent;
    padding: 16px;
    margin: 16px;
  }
  
  ::-webkit-scrollbar-track {
    height: 20px;
    width: 6px;
    padding: 16px;
    margin: 16px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #2f2e41;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #535269;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #76748f;
  }
  
  ::-webkit-scrollbar-thumb:window-inactive {
    background: #6f6e86;
  }
  
  
.menu{
    width: 72px;
    background-color: white;
    transition: width 0.4s;
    position: sticky;
    height: calc(100vh - 72px);
    top: 72px;
    overflow: hidden;
}
.countent {
    overflow-y: auto;
    height: 100%;
}
.menu:hover{
    width: 226px;
}
.menushow{
    display: initial !important;
    position: absolute;
    z-index: 1;
}
.activemenu {
    width: 226px;
}
.menuelement,ul{
    list-style: none;
    padding: 0;
    
}
.red {
  filter: invert(100%) sepia(0%) saturate(7498%) hue-rotate(73deg) brightness(106%) contrast(100%);

}
.menuelement li{
    background-color: #2f2e41;
    margin: 16px;
    border-radius: 8px;
    max-height: 40px;
    overflow: hidden;
    transition: max-height .4s;
    color: white;
}
.open{
    max-height:1000px !important;
}
.disactivemenu .open {
    max-height: 40px !important;
 
}
.menu:hover .open {
    max-height: 1000px !important;
}
li .button {
    display: flex;
    padding: 8px;
    cursor: pointer;
}
li .button span {
    margin-left: 8px;
}